.Slider {
    display: flex;
    align-items: center;
    border: 1px solid red;

    &Container {
        overflow: hidden;
        margin: 0 10px 0 10px;
    }

    &Track {
        overflow: hidden;
        display: inline-flex;
        flex-wrap: nowrap;
        margin-left: 0;
        transition: margin 1s ease;
    }

    &Item {
        cursor: pointer;

        &:not(:last-child) {
            margin-right: 10px;
        }

        &Image {
            width: 260px;
            height: 162px;

            &Title {
                margin: 20px 0 10px;
                color: #fff;
                display: inline-block;
                font-weight: 700;
                line-height: 20px;
            }

            &Description {
                color: #fff;
                font-size: 16px;
                line-height: 20px;
            }
        }
    
        &Image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &Arrow {
        width: 48px;
        height: 48px;
    }

    &ArrowImg {
        fill: #fff;
        cursor: pointer;
        width: 48px;
        height: 48px;
        background-color: #3480fa;
        border-radius: 50%;
        transition: all .3s;

        &Disabled {
            fill: #fff;
            cursor: pointer;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background-color: #78acff;
        }

        &:hover {
            background-color: #78acff;
        }
    }
}
